
/*header{
    background-color: blueviolet;
}*/

h2,
.third_section{
    background-color: aqua;
   
}



section.first_section{
    background-color: aqua;
    padding: 1rem 0;
    line-height: 2rem;
}

section.second_section>div div{
 background-color: cadetblue;
 margin-bottom: 2rem;
 padding: 10rem 0rem;
 border: 1px solid white;
 

}

.third_section,
footer{
    padding: 10rem 0;
}
.fourth_section{
    background-color: aquamarine;
    padding: 10rem 0;
}

footer{
    background-color: brown;
}

