
header{
    background-color:rgb(44, 62, 80);
    
}






section.first_section,
section.third_section{
    background-color: rgb(26, 188, 156);
   
}

section.first_section img.my_img{
height: 150px;
width: 150px;
}

/*.barretta{
    padding: 1px 0;
    width: 50%;
    background-color: aliceblue;
    
}*/





section.second_section>div div>img{
    width: 100%;
    border-radius: 10px;

 
 

 

}





footer{
    background-color: rgb(58, 84, 109);
}

.my_bg_color{
    background-color: rgb(44, 62, 80);
}