
header{
    background-color:rgb(44, 62, 80);
    
}



h2,
.third_section{
    background-color: aqua;
   
}



section.first_section{
    background-color: rgb(26, 188, 156);
   
}

section.first_section img.my_img{
height: 150px;
width: 150px;
}

/*.barretta{
    padding: 1px 0;
    width: 50%;
    background-color: aliceblue;
    
}*/





section.second_section>div div>img{
    width: 100%;
    border-radius: 10px;

 
 

 

}

.third_section,
footer{
    padding: 10rem 0;
}
.fourth_section{
    background-color: aquamarine;
    padding: 10rem 0;
}

footer{
    background-color: brown;
}

